openai
pandas==1.5.3
python-Levenshtein
ffmpeg
opencv-python
numpy
regex
shutilwhich
requests
beautifulsoup4
fuzzywuzzy
xlsxwriter
openpyxl
dizquetv
plexapi
psutil
plexapi
plexauth
sv_ttk
ttkthemes
unidecode
opencv-python